# ==============================
# Python
# ==============================
__pycache__/
*.py[cod]
*$py.class

# ==============================
# Virtual Environments
# ==============================
venv/
.env/
.env.*

# ==============================
# VS Code
# ==============================
.vscode/
*.code-workspace

# ==============================
# OS files
# ==============================
.DS_Store
Thumbs.db

# ==============================
# Logs & temp files
# ==============================
*.log
*.tmp

# ==============================
# Jupyter
# ==============================
.ipynb_checkpoints/

# ==============================
# Build / cache
# ==============================
build/
dist/
*.egg-info/

